@model TaiKhoanModel
@{
    //page title
    ViewBag.Title = T("CRM.CRM.CRM.TaiKhoan").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CRM.CRM.TaiKhoan");
}

<div class="d-flex flex-column-fluid">
    <div class="container">
        <form asp-controller="TaiKhoan" asp-action="Create" method="post">
            <input type="hidden" value="@ViewBag.idStore" name="idStore"/>
            @Html.HiddenFor(m => m.LastName)
            @Html.HiddenFor(m => m.FirstName)
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
                    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                        <div class="d-flex align-items-center flex-wrap mr-2">
                            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                                Thêm mới @ViewBag.Title
                            </h5>
                            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                            <div class="d-flex align-items-center" id="kt_subheader_search">
                                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">Nhập thông tin chi tiết và nhấn lưu</span>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">
                            <a asp-action="List" class="btn btn-secondary font-weight-bold btn-sm px-3 font-size-base mr-2">
                                <i class="la la-long-arrow-left"></i>
                                Trở lại danh sách
                            </a>
                            @*<button type="submit" name="save" class="btn btn-success btn-bold mr-2">
                                <i class="flaticon2-hourglass-1"></i>
                                Lưu
                            </button>*@
                            @*<button type="submit" name="save-continue" class="btn btn-primary btn-bold mr-2">
                                    <i class="flaticon2-writing"></i>
                                    Lưu và tiếp tục sửa
                                </button>*@
                        </div>
                    </div>
                </div>

                @*@await Html.PartialAsync("_DoanhNghiepBasicForm", Model)*@
                <div class="card card-custom gutter-bs">
                    <!--Begin::Body-->
                    <div class="card-body px-0">

                        <div class="row">
                            <div class="col-xl-2"></div>
                            <div class="col-xl-7">
                                <div class="my-2">
                                    <div class="panel-body">
                                        <div class="form-group row">
                                            <label class="col-form-label col-3 text-lg-right text-left text-required">Tên đăng nhập : </label>
                                            <div class="col-9">
                                                <div class="input-group input-group-lg input-group-solid">
                                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-lg form-control-solid", @type = "text", @placeholder = "Tên Đăng Nhập", @autocomplete = "off" })
                                                </div>
                                                <span asp-validation-for="Username"></span>
                                            </div>
                                        </div>

                                        <!--begin::Group-->
                                        <div class="form-group row d-none">
                                            <label class="col-form-label col-3 text-lg-right text-left ">
                                                Địa Chỉ Email :
                                                <span class="d-block text-warning text-sm">(Tự động điền theo Username)</span>
                                            </label>
                                            <div class="col-9">
                                                <div class="input-group input-group-lg input-group-solid">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="la la-at"></i>
                                                        </span>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg form-control-solid", @type = "text", @readonly = "", @data_domainstore = @ViewBag.domainStore })
                                                </div>
                                                <span asp-validation-for="Email"></span>
                                            </div>
                                        </div>
                                        <!--end::Group-->

                                        <div class="form-group row">
                                            <label class="col-form-label col-3 text-lg-right text-left text-required">Mật khẩu : </label>
                                            <div class="col-9">

                                                @if (Model.Id > 0)
                                                {
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <div class="input-group input-group-lg input-group-solid">
                                                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-lg form-control-solid", @type = "password", @placeholder = "Nhập Mật Khẩu" })

                                                            </div>
                                                        </div>
                                                        <div class="input-group-btn col-4">
                                                            <button id="changePWBtn" type="submit" name="changepassword" class="btn btn-info">
                                                                @T("Admin.Customers.Customers.Fields.Password.Change")
                                                            </button>
                                                        </div>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="input-group input-group-lg input-group-solid">
                                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-lg form-control-solid", @type = "password", @placeholder = "Nhập Mật Khẩu" })

                                                    </div>
                                                }
                                                <span asp-validation-for="Password"></span>
                                            </div>
                                        </div>




                                        <div class="form-group row">
                                            <label class="col-form-label col-3 text-lg-right text-left">Tên đầy đủ : </label>
                                            <div class="col-9">
                                                <div class="input-group input-group-lg input-group-solid">
                                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control form-control-lg form-control-solid", @type = "text" })
                                                </div>
                                                <span asp-validation-for="FullName"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label text-lg-right">Giới tính : </label>
                                            <div class="col-9 col-form-label">
                                                <div class="radio-inline">
                                                    <label class="radio">
                                                        @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "Gender_Male" })
                                                        <span></span>Nam
                                                    </label>
                                                    <label class="radio">
                                                        @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "Gender_Female" })
                                                        <span></span>Nữ
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-3 text-lg-right text-left">Số điện thoại : </label>
                                            <div class="col-9">
                                                <div class="input-group input-group-lg input-group-solid">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="la la-phone"></i>
                                                        </span>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control form-control-lg form-control-solid", @type = "text" })
                                                </div>
                                                <span asp-validation-for="Phone"></span>
                                            </div>
                                        </div>
                                        <div id="roleDiv" class="form-group row">
                                            <label class="col-3 col-form-label text-lg-right text-left">Vai trò tài khoản : </label>
                                            <div class="col-9 col-form-label">
                                                <div class="row">
                                                    @foreach (var item in Model.AvailableCustomerRoles)
                                                    {
                                                        <div class="col-4 col-form-label @(item.Text.Equals(NopCustomerDefaults.RegisteredRoleName)?"d-none":"")">
                                                            <div class="checkbox-inline">
                                                                <label class="checkbox checkbox-outline checkbox-success">
                                                                    <input type="checkbox" name="SelectedCustomerRoleIds" value="@item.Value" checked="@(item.Selected?"checked":null)" onclick="@(item.Text.Equals(NopCustomerDefaults.RegisteredRoleName)?"return false;":"")">
                                                                    <span></span>@item.Text
                                                                </label>
                                                            </div>
                                                            <span class="form-text text-muted"></span>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label text-lg-right">Hoạt động : </label>
                                            <div class="col-9 col-form-label">
                                                <div class="checkbox-inline">
                                                    <label class="checkbox">
                                                        @Html.CheckBoxFor(m => m.Active)
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <span asp-validation-for="Active"></span>
                                            </div>
                                        </div>

                                        <div class="mb-10 border-top mt-10"></div>
                                        <!--begin::Footer-->
                                        <div class="pb-0 mb-3 pb-3">
                                            <div class="row">
                                                <div class="col-xl-4"></div>
                                                <div class="col-xl-7">
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col-9">
                                                            <button type="submit" id="btnL" class="btn btn-light-primary font-weight-bold">Tạo tài khoản</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Footer-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        //AUTO COMPLETE EMAIL
        $('input#Username').change(function () {
            var emailTail = $('input#Email').data('domainstore');
            $('input#Email').val($(this).val() +"@("@")"+ emailTail);
        });
        //AUTO COMPLETE LASTNAME & FIRSTNAME
        $('input#FullName').change(function () {
            var fullname = $("#@Html.IdFor(m=>m.FullName)").val();
            var fullnameArr = fullname.split(" ");
            //var emailTail = $('input#Email').data('domainstore');
            $('input#FirstName').val(fullnameArr[0]);
            $('input#LastName').val(fullnameArr.filter(l => l != fullnameArr[0]).join(" "));
        });
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            //startDate: '-3d'
        });
    });
</script>
