@model KhPhanTichKhachHangSearchModel

<nop-antiforgery-token />
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="card card-custom mb-10">
                <div class="card-header flex-wrap border-0 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">
                            Tìm kiếm khách hàng
                            <span class="d-block text-muted pt-2 font-size-sm">Lọc khách hàng theo tên khách hàng, nhóm khách hàng</span>
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-xl-12">
                            <div class="row align-items-center mb-5">
                                <div class="col-md-6 my-2 my-md-0">
                                    <div class="row align-items-center">
                                        <div class="col-4">
                                            <label class="mr-3 mb-0 d-none d-md-block">Tên khách hàng</label>
                                        </div>
                                        <div class="col-8">
                                            @Html.TextBoxFor(m => m.KeySearch, new { @class = "form-control", @placeholder = "Tên khách hàng..." })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-2 my-md-0">
                                    <div class="row align-items-center">
                                        <div class="col-4">
                                            <label class="mr-3 mb-0 d-none d-md-block">Nhóm khách hàng</label>
                                        </div>
                                        <div class="col-8">
                                            <nop-select asp-for="NhomKhachHang" asp-items="@Model.DDLNhomKhachHang" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center mb-5">
                                <div class="col-md-6 my-2 my-md-0">
                                    <div class="row align-items-center">
                                        <div class="col-4">
                                            <label class="mr-3 mb-0 d-none d-md-block">Điểm nhóm khách hàng</label>
                                        </div>
                                        <div class="col-4">
                                            @Html.TextBoxFor(m => m.TuDiem, new { @class = "form-control", @placeholder = "Từ điểm..." })
                                        </div>
                                        <div class="col-4">
                                            @Html.TextBoxFor(m => m.DenDiem, new { @class = "form-control", @placeholder = "Đến điểm..." })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 my-2 my-md-0">
                                    <div class="row align-items-center">
                                        <div class="col-4">
                                            <label class="mr-3 mb-0 d-none d-md-block">Sắp xếp theo điểm</label>
                                        </div>
                                        <div class="col-8">
                                            <nop-select asp-for="OptionOrderBy" asp-items="@Model.DDLOptionOrderBy" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 mt-5 mt-lg-0 text-center">
                            <button type="button" id="search-phanNhomKhachHang" class="btn btn-light-primary px-6 font-weight-bold">
                                <i class="flaticon2-search-1 text-muted"></i>Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="kt-portlet__body">
            @await Html.PartialAsync("Table", new DataTablesModel
            {
                Name = "items-phanNhomKhachHang",
                UrlRead = new DataUrl("_GetPhanNhomKhachHang", "KhKhachHang", null),
                SearchButtonId = "search-phanNhomKhachHang",
                Length = Model.PageSize,
                LengthMenu = Model.AvailablePageSizes,
                Filters = new List<FilterParameter>
                {
                    new FilterParameter(nameof(Model.KeySearch)),
                    new FilterParameter(nameof(Model.NhomKhachHang)),
                    new FilterParameter(nameof(Model.TuDiem)),
                    new FilterParameter(nameof(Model.DenDiem)),
                    new FilterParameter(nameof(Model.OptionOrderBy))
                },
                ColumnCollection = new List<ColumnProperty>
                {
                    new ColumnProperty(nameof(KhKhachHangModel.TEN))
                    {
                        Title = "Tên",
                    },
                    new ColumnProperty(nameof(KhKhachHangModel.SoDienThoai))
                    {
                        Title = "Điện thoại",
                    },
                    new ColumnProperty(nameof(KhKhachHangModel.SoLanSuDungDichVu))
                    {
                        Title = "Số lần sử dụng trong năm / tổng"
                    },
                    new ColumnProperty(nameof(KhKhachHangModel.TongSoTienDaChiTieu))
                    {
                        Title = "Số tiền đã chi tiêu trong năm / tổng",
                    },
                    new ColumnProperty("")
                    {
                        Title = "Nhóm, điểm khách hàng",
                        Render= new RenderCustom("RenderNhomKhachHang"),
                    },
                    new ColumnProperty(nameof(KhKhachHangModel.Id))
                    {
                        Title = "Chi tiết",
                        Width = "120",
                        ClassName =  NopColumnClassDefaults.Button,
                        Render = new RenderButtonView(new DataUrl("TradeDetail"))
                    }
                }
            })
        </div>
    </div>
</div>

<script>
    function RenderNhomKhachHang(data, type, row, meta) {
        var _html = "";
        $.each(row.NhomKhachHang, function (i) {
            _html += "<div class='text-primary font-weight-bold'>" + row.NhomKhachHang[i].TenNhom + (row.NhomKhachHang[i].Diem > 0 ? (" : " + row.NhomKhachHang[i].Diem) : "") + "</div>";
        });

        return _html;
    }
</script>

